python-dotenv==1.1.1
requests==2.32.4
moviepy==2.2.1
openai==1.97.0
huggingface-hub==0.33.4
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
instagrapi==1.19.6
pydantic==2.8.2
